.table-container {
   width: 80%;
   margin: auto;
   margin-top: 20px;
}

.table {
   width: 100%;
   border-collapse: collapse;
   color: black;
   text-align: center;
}

.table th {
   border: 1px solid #ddd;
   padding: 10px;
   background-color: #68bafc;
   font-weight: bold;
}


.table td {
   border: 1px solid #ddd;
   padding: 5px;
}

.table tbody tr:nth-child(even) {
   background-color: #d0e2fe;
}

.deleteBtn {
   background-color: #d9534f;
   padding: 5px 10px;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: auto;
   min-width: 60px;
   text-align: center;
   font-size: 14px;
}

.deleteBtn:hover {
   background-color: #c9302c;
}